
#header {
    width: 960px;
    margin: 0 auto 0 auto;
}
h1 {
    background-color: orange;
    color: white;
    margin: 0;
}

h4 {
    margin: 0;
    background-color: aliceblue;
    
    
}
#container {
    width: 960px;
    display: flex; 
    margin: 0 auto 0 auto;
    background-color: aliceblue;
}

#images {
    width: 320px;
}
#img img {
    display: flex;
    margin: 10px;
    
}

#imgGroup img {
    width: 90px;
   margin-left: 10px;
}

#explanation {
    width: 500px;
}

#name {
    text-align: center;
    color: blue;
    margin-bottom: 10px;
}

#introduce {
    margin-bottom: 10px;
}
#price {
    width: 140px;
}
#cheepest {
    font-size: small;
}
#per_person {
    font-size: small;
}